html,body
    height 100%
    width 100%
    margin 0
    padding 0

body{
    height: 100%;
    background: url('../images/bg.jpg') no-repeat;
    background-size: 100% 100%;
    background-position: center;
    color:#4d4d4d;
    font-weight:300
}
